.center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
}

.content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content-area {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
    width: 300px;
    height: 200px;
}

.lockColorsButton {
    margin: 10px;
}

.savedColorItem {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.colorThumbnail {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    /* Add this rule to set a border for the color thumbnail */
    border: 1px solid #000;
}

/* Style for the "Delete" button */
button {
    margin: 10px;
    background-color: #37559f; /*#9cad41;*/
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
